@import '../variables';
$cubesize: 560px;
$paddingX: 60px;
$paddingY: 80px;
$cardShadow: 80px;

.section {
    padding-top: 160px;
    padding-bottom: 80px;
}

.cubes {
    width: $cubesize;
    height: $cubesize;
    position: relative; 
    margin: -20px 0px $cardShadow 0px;
}

.cube {
    width: $cubesize - 2*$paddingX;
    height: $cubesize - 2*$paddingY;
    padding: $paddingY $paddingX;
    background: $bg-dark;
}

.cubeText {
    position: absolute;
    font-size: $text-header-big;
    z-index: 1;
}

.cubeText u, .cubeText u * {
    color: $blonde;
}

.cubeText a {
    $color: $blonde;
    color: $color;
    border-bottom: 1px solid $color;
    text-decoration: none;
    transition: 0.1s ease-in;
}

.cubeText a:hover {
    $color: $red;
    color: $color;
    border-bottom: 1px solid $color;
}


.cubeBack {
    position: absolute;
    top: $cardShadow;
    left: $cardShadow;
    background: $blonde;
    z-index: 0;
}

@include mobile {
    .section {
        padding-bottom: 0px;
    }
    .cubeText p {
        padding:0px 40px;
    }
    .cubes {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .cubeText {
        position: relative;
        padding: 50px 0px;
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .container {
        padding: 0px;
    }
    .cubeBack {
        display: none;
    }
}