@import '../variables';

.section {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 50px;
}


$text-width:  460px;

.greeting {
    width: $text-width;
    font-family: $font-gitunik;
    font-size: 60px;
    color: $red;
}

.content {
    margin-top: -10px;
}

.introText {
    width: $text-width;
    font-size: 24px;
    line-height: 140%;
}

.shapes {
    /* Width and heigth after 
       Intro Animation is completed. */
    $animationCompleteX: -500px;
    $animationCompleteY: -612px;
    position: absolute;
    top: 40%;
    left: 100%;
    margin-left: $animationCompleteX;
    margin-top: $animationCompleteY/2;
}

// Add semi-transperent background for 
// mobile-friendliness
@include nondesktop {
    .content, .banner {
        position: relative;
        z-index: 10;
        width: 100%;
    }
    $paddingX: 2 * $mobilePaddingX;
    .logoText {
        margin-left: $paddingX;
    }
    .logoIcon {
        margin-right: $paddingX;
    }
    .introText {
        width: 100%;
        padding: $paddingX;
        box-sizing: border-box;
    }
    .greeting {
        width: 100%;
        padding: 0px $paddingX;
    }
    .section::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $bg-dark-semi;
        z-index: 0;
    }
}