@import '../variables';

.section {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 50px;
}


$text-width:  380px;

.greeting {
    width: $text-width;
    font-family: $font-gitunik;
    font-size: 54px;
    color: $red;
}

.content {
    margin-top: -10px;
}

.introText {
    width: $text-width;
    font-size: 20px;
    line-height: 140%;
}

.shapes {
    /* Width and heigth after 
       Intro Animation is completed. */
    $animationCompleteX: -420px;
    $animationCompleteY: -520px;
    position: absolute;
    top: 40%;
    left: 100%;
    margin-left: $animationCompleteX;
    margin-top: $animationCompleteY/2;
}

// Add semi-transperent background for 
// mobile-friendliness
@include nondesktop {
    .section::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $bg-dark-semi;
        z-index: 0;
    }
    .content, .banner, .section-heading {
        position: relative;
        z-index: 10;
    }
}

@include mobile {
    .content {
        width: 100%;
        padding-top: 0px;
    }
    .introText {
        width: 100%;
        box-sizing: border-box;
        font-size: 20px;
    }
    .greeting {
        width: 100%;
        margin-bottom: 10px;
    }
}