@import '../variables';

$icon-height: 60px;
$text-height: 40px;

.section {
    position: relative;
    width: 100%;
}

.banner {
    width: 100%;
    height: $icon-height;
    margin-bottom: 150px;
}

.logoIcon {
    float: right;
}

.logoText {
    margin-top: $icon-height - $text-height;
    float: left;
}

.greeting {
    font-family: $font-gitunik;
    font-size: 60px;
    color: $red;
}

.content {
    margin-top: -10px;
}

.introText {
    width: 460px;
    font-size: 24px;
    line-height: 140%;
}

.shapes {
    $animationCompleteX: -500px;
    $animationCompleteY: -612px;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: $animationCompleteX;
    margin-top: $animationCompleteY/2;
}