@import '../variables';

.section {
    padding: 170px 0px 250px 0px;
}

.sectionHeading h4 {
    color: $black;
}


.content h4 {
    font-weight: normal;
    font-size: 26px;   
    margin-bottom: -60px;
}