@import '../variables';

.post {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post .container {
    max-width: 900px
}

.post h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.post .thumbnail {
    width: 100%;
    margin-bottom: 30px;
}

.post .description {
    margin-bottom: 30px;
    color: $text-gray;
    font-size: 20px;
}

.post .content {
    font-size: $text-content-big;   
    line-height: 150%;
    padding-bottom: 100px;
}

.content span {
    font-weight: 700;
    color: #949494;
}

.content a {
    text-decoration: underline;
    color: $blonde;
}

.content h2,  .content a, .content li  {
    color: $blonde;
}

.content li p {
    color: $white;
}

.content h2 {
    margin-top: 100px;
}

@include mobile {
    .post h1 {
        font-size: 30px;
    }
    .post .content {
        font-size: 18px;
    }
}

// .post .content p {
//     padding: 0px 40px;
// }