@import '../variables';

.section {
    padding: 170px 0px 100px 0px;
    min-height: 100%;
}


.sectionHeading h4 {
    margin: 0px;
}

$cvSpacing: 40px;

.cvSection {
    margin-bottom: 50px;
}

.cvItem {
    position: relative;
    width: 100%;
    margin-bottom: $cvSpacing;
}

.seperator {
    margin-bottom: $cvSpacing;
}

.cvItem .heading {
    font-size: $text-header;
    margin: 0px 0px 5px 0px;
    width: 500px;
}

.cvItem .description {
    font-size: $text-content;
    color: $text-gray;
}

.cvItem .date {
    $width: 200px;
    text-align: right;
    position: absolute;
    color: $text-gray;
    top: 0px;
    left: 100%;
    width: $width;
    margin-left: -$width;
    font-size: 16px;
}

@keyframes rotating {
    from {}
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.shapes {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(0);
    animation: rotating 150s infinite;
}

// Tablet / mobile size is too small. 
@media (max-width: 1500px) 
{
    .container {
        position: relative;
        z-index: 10;
    }
    .section::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $bg-dark-semi;
        z-index: 0;
    }
}

@include mobile {
    .sectionHeading {
        display: inline-block;
        width: auto;
        margin: 0px 0px 50px 0px;
    }
    .sectionHeading h4 {    
        color: $red;
    }
    .cvItem .heading, .cvItem .description {
        padding: 0px $mobilePaddingX;
        width: 100%;
    }
    .cvItem .date {
        position: relative;
        margin-top: 15px;
    }
}