// ... Colors ...
$bg-dark: #1A1D1C;
$text-gray: #7D7D7D;
$black: #1A1D1C;
$white: #FAFAFA;
$red: #C03226;
$dark-gray: #484848;
$blonde: #D9C299;

/* ... Typography ... */
$font-inter: Inter, sans-serif;
$font-gitunik: Gitunik, Inter, sans-serif;

/* ... Global Spacing ... */
$containerMaxWidth: 1125px; 
$containerPaddingX: 50px;
/* Useful for some container-based fixed scaling */
$containerWidth: $containerMaxWidth - 2 * $containerPaddingX;