// ... Colors ...
$bg-dark: #1A1D1C;
$bg-dark-semi: rgba(26,29,28, 0.8);
$text-gray: #7D7D7D;
$black: #1A1D1C;
$white: #FAFAFA;
$red: #C03226;
$dark-gray: #484848;
$blonde: #D9C299;

/* ... Typography ... */
$font-inter: Inter, sans-serif;
$font-gitunik: Gitunik, Inter, sans-serif;

/* ... Global Spacing ... */
$mobilePaddingX: 10px;
$containerMaxWidth: 1125px; 
$containerPaddingX: 50px;
/* Useful for some container-based fixed scaling */
$containerWidth: $containerMaxWidth - 2 * $containerPaddingX;

/* Text sizes */
$text-medium: 24px;
$text-header-big: 24px;
$text-header: 22px;
$text-header-small: 20px;
$text-content-big: 20px;
$text-content: 18px;
$text-content-small: 15px;

/* Responsive design shortcuts */

$tablet-width: 768px;
$desktop-width: $containerMaxWidth;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width:#{$desktop-width - 1}) {
    @content;
  }
}

@mixin nondesktop {
  @media (max-width:#{$desktop-width - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}